<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controllers.Admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.User.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controllers.User.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRoomServlet</servlet-name>
        <servlet-class>Controllers.Room.BookingRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>Controllers.Room.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRoomServlet</servlet-name>
        <servlet-class>Controllers.Room.ListRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <servlet-class>Controllers.Room.UpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>Controllers.Room.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRoomFilterServlet</servlet-name>
        <servlet-class>Filters.FindRoomFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>Controllers.Room.AddRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRoomServlet</servlet-name>
        <url-pattern>/bookingRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/historyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRoomServlet</servlet-name>
        <url-pattern>/listRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <url-pattern>/updateRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/deleteRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRoomFilterServlet</servlet-name>
        <url-pattern>/findRoomFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/addRoomServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
